<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        <hr>
        <label>Email</label>
        <p>{{userDetail.email}}</p>
        <label>Joined on</label>
        <p>{{userDetail.joiningDate}}</p>
    </div>
</div>