<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1> About Sail Along</h1>
        <p>Sail Along is a e-commerce website meant to sell boats of different kinds and prices. In order to buy a product you need to create and account and select checkout to buy the product.</p>
    </div>
</div>
